<!-- users.html -->
{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Companies{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'vendor/datatables/css/datatables.min.css' %}">
{% endblock extrastyle %}

{% block bodyclass %} hold-transition sidebar-mini layout-fixed {% endblock bodyclass %}

{% block content %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>Companies</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="table-responsive">
        <table id="companyTable" class="table table-striped dtr-inline collapsed" style="width:100%">
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Currency</th>
              <th>Parent Company</th>
            </tr>
          </thead>
          <tbody id="users-body" 
            hx-get="{% url 'companies' %}" 
            hx-swap="outerHTML"
            hx-trigger="from:body" >
            {% for company in companies %}
            <tr>
              <td>{{ company.name }}</td>
              <td>{{ company.email }}</td>
              <td>{{ company.phone_number }}</td>
              <td>{{ company.currency }}</td>
              <td>{{ company.parent_company }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>



    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock content %}

{% block extra_scripts %}

    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/datatables.min.js' %}"></script>

    <script>

      $(document).ready(function () {
        $('#companyTable').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
        });
      });

    </script>

{% endblock extra_scripts %}